* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

.main_div {
  margin: 0;
  padding: 0;

  justify-content: center;
  /* Yatay ortalama */
  align-items: center;
  background-color: rgb(186, 217, 243);
  height: auto;
}

.login-div {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  width: auto;
  padding: 50px;

}

.input_div {
  display: flex;
  height: auto;
  width: 100%;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.input_text {
  border-radius: 10px;
  padding: 7px;
  font-size: 1rem;
  border: 2px solid gray;
}

.span_text {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footerIconButton {
  margin: 5px;
  /* İkonlar arası boşluk */
  font-size: 1.5rem;
  /* İkon boyutu */
  color: white;
  border: none;
  background-color: transparent;
}

.left-div {
  height: auto;
  width: 65%;
}

.topNewDiv {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;

}

.text-areas-div {
  width: 40%;
}

.top_news_image {
  width: 60%;
}

.top_new_title {
  font-weight: bold;
  font-size: 1.5rem;

}

.right-div {
  margin-top: 10px;
  width: 40%;

  border-top: 2px solid gray;

}

.text-areas-div {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top_news_image {
  cursor: pointer;
}

.text-areas-div:hover {
  color: gray;

}

.container {
  display: flex;
}

.mini-news-div {
  display: flex;

  border-bottom: 2px solid gray;
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;

}

.mini-text-areas-div {
  width: 70%;
  cursor: pointer;

}

.mini_news_image {
  width: 30%;
  cursor: pointer;
}

.mini_news_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.mini-text-areas-div:hover {
  color: gray;
}

* {
  font-family: 'Times New Roman', serif;
}

.mini_news_category {
  color: gray;
}

.container-content {
  border-top: 2px solid black;
  margin-top: 5%;


}

.navbar-ul {
  display: flex;
  align-items: center;
}

.custom-button-1 {
  padding: 10px;
  margin: 10px;
  color: black;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  transition: 0.4s;
  display: flex;
  align-items: center;
  float: right;
  margin-top: 2rem;
}

.custom-button-1:hover {
  background-color: black;
  color: white;
}

.icon-custom {
  margin-left: 5px;
}

.navbar-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  background-color: white;
  text-align: center;

}

.navbar-items {
  border: none;
  background-color: transparent;
  color: black;
  margin: 10 px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-items:hover {
  text-decoration: underline;
}

.categories-section {
  width: 60%;
  margin-top: 25vh;
  margin-left: 3vh;
}

.category-item {
  padding-left: 10px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
}

.category-item:hover {
  background-color: #f0efed;
}

.brand {
  cursor: pointer;
  font-weight: 800;
}

.categories-item {
  width: 23%;
  height: auto;
  margin: 9px;
  cursor: pointer;
  margin-bottom: 5rem;
}

.item-abstracht {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Gösterilecek maksimum satır sayısı */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-headline:hover {
  text-decoration: underline;

}

.item-abstract:hover {
  color: gray;
}

.main-page-categories {
  display: flex;
  flex: wrap;
  justify-content: center;


}

.navbar {
  border-bottom: 1px solid gainsboro;
  width: 75%;
  padding: 2rem;



}

.container-detail {
  display: flex;
  width: 60%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}

/* Telefon için stil */
@media (max-width: 480px) {
  .header {
    text-align: center;
  }

  nav {
    flex-direction: column;


  }

  .navbar-ul {
    visibility: collapse;

  }

  .navbar {
    height: 10vh;
    display: flex;
    justify-content: center;

  }

  .navbar-div {
    width: 100%;

  }

  .navbar-items {
    font-size: 1rem;
    margin: 0;

  }

  .navbar-items-div {
    display: block;
  }

  .container {
    padding: 5px;
  }

  .container-main {
    display: block;

  }

  .left-div {
    width: 99%;
    justify-content: center;
    margin-top: 10vh;
  }

  .topNewDiv {
    display: block;
    justify-content: center;

  }

  .top_news_image {
    width: 100%;
  }

  .text-areas-div {
    width: 100%;
  }

  .navbar-ul {
    display: block;
  }

  .navbar {
    width: 100%;
  }

  .right-div {
    width: 99%;

  }

  .main-page-categories {
    display: block;
  }

  .categories-item {
    width: 100%;
  }

  .container-detail {
    display: block;
  }

  .custom-button-1 {

    float: none;
  }

  .container-content {
    margin-top: 20vh;
  }

  .categories-section {
    width: 90%;
  }
}